ul {
    list-style-type: none; /*to change point */
     margin:0;
     padding:0;
     overflow: hidden;
     background-color:black;
  }

li{
float: right;
}

li a{
display:block;
color:whitesmoke;
text-align: top ;
padding: 14px 16px; /spacing/
text-decoration: none;
}

li a:hover { /hover-mouse pointing/
background-color: aquamarine;
}

h1{
    text-align: start;
    padding: 0% 25%;
    width: 100%;
font-size: 30px;
}

h4{
    text-align: center;
}

.about h5{
padding: 0cm 10cm;
}

.about img{
    border-radius: 50%;
    align-content: center;
}

footer{
position: fixed;
bottom: 0%;
background-color:azure;
width: 100%;
}

.foot{
    display: flex;
    justify-content: center;
}

.foot a{
margin: 0 10px;
}

.favourite{
padding-top: 2cm;
}

.proj1
    {
        padding: 1cm;
        margin: 35px;
        width: 50%;
        border: 3px solid black;
    }

.proj1 h3{
    text-align: center;
    }
    
    .proj2
    {
        padding: 1cm;
        margin: 35px;
        width: 50%;
        border: 3px solid black;
    }

    .proj2 h3{
        text-align: center;
        }


    .proj3
    {
        padding: 1cm;
        margin: 35px;
        width: 50%;
        border: 3px solid black;
    }

    .proj3 h3{
        text-align: center;
        }

    .container{
        display: flex;
        flex-direction: row;


    }

